.App {
  text-align: center;
}


.chart{
  /* background-color: aqua; */
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 10px;
  
}

#right{
  
  position: relative;
  #heading{
    position: absolute;
    z-index: 20;
    top: 20px;
  }
}
